.parede {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}
.parede span {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5px;
}
.parede span span {
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}

#popupResultado {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  animation: fadeout 0.8s;
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#popupResultado div {
  width: 70%;
  height: 70%;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  padding: 2%;
}
#popupResultado div div {
  width: 85%;
}

#popupResultado.mostrar {
  visibility: visible;
  animation: fadein 0.8s;
  transition: animation 2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=index.css.map */
